@font-face{font-family:heading;src:url(Bistecca.ttf);}
@font-face{font-family:cont;src:url(PoiretOne-Regular.ttf);}
*{margin: 0;}
html,body{height: 100%;font-family: cont;}
div{width:100%;}
nav{position:fixed;height:50px;background-color:rgba(0,0,0,0.5)}
.section{height:100%;background-size:cover;background-attachment:fixed;}
.sub{width:100%;background-color:rgba(249,219,121,.7);word-wrap: break-word;}
.one{background-image:url("1.jpg");}
.two{background-image:url("2.jpg");}
.three{background-image:url("3.jpg");}
h1{font-family: heading;font-size: 40px}
p{font-size: 32px;font-weight: bolder;}
ul.topnav {
  font-size: 20px;
  font-family: cont;
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,200,.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    
}
nav{position:fixed;height:50px;background-color:rgba(0,0,0,0.5)}
.topnav li {float: left;
            color: #280507;
            font-size:22px; 
            }

.topnav li a {
  font-family: cont;
    display: block;
    color: rgb(255,255,200);
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    
}

.topnav li a:hover{background-color:#280507;opacity: .8}

.topnav li a{background-color: #120507;opacity: .9}

.topnav li.right {float: right;}

@media screen and (max-width: 600px){
        ul.topnav li.right, 
    ul.topnav li {float: none;
                  }
    ul.topnav{
      position: relative;
    }
    .para{
      font-size: 20px;
      margin-left: 0;
    }


.buttons{
    float: left;
    margin-left: 350px;
    margin-top: 500px;
}
ul.button1 {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
ul.button1 li {float: left;}
ul.button1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;

}
ul.button1 li a:hover{
    background-color: #969696;
    opacity:0.8;
}
ul.button1 li a:link{
    background-color: #000000;
    opacity:0.8;
}
@media screen and (max-width: 600px){ 
    ul.button1 li {float: none;}
    .buttons { margin-left:0;}
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
